[Unit]
Description
[Service]
User=centos
ExecStart=/bin/java -jar agent.jar -jnlpUrl http://172.31.40.19:8080/computer/agent3/jenkins-agent.jnlp -secret 96fe7041e4af68f3bab6088dd19f36e90db1a9736cb627f0ef60488259111523 -workDir "/home/centos"
SysylogIdentifier=jenkins

[Install]
WantedBy=multi-user.target
